.appContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	border-radius: 20px;
	padding: 50px;
	max-width: 500px;
	margin: auto;
	margin-top: 30px;
	background: #0a0a0a; /* Bardzo ciemne tło, pasujące do czarnego */
	box-shadow: 0 4px 10px rgba(0, 123, 255, 0.3), /* Zewnętrzna poświata */ 0 0 20px rgba(0, 123, 255, 0.6); /* Subtelna aura wokół */
	transition: box-shadow 0.3s ease-in-out;
}

.appContainer h1 {
	margin: 20px 0;
}

/* Efekt glow na hover */
.appContainer:hover {
	box-shadow: 0 6px 15px rgba(0, 123, 255, 0.5), /* Mocniejsza poświata */ 0 0 25px rgba(0, 123, 255, 0.8);
}
